<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>hello ,my name is {{name}}</h1>
    <p>This my Django tamplate !</p>
    <h2>These are my hobbies</h2>

    {% if hobbies %}
    {% include "greetings/hobby_list.html" %}
    {% else %}
    <p>No hobbies to show.</p>
    {% endif %}

    {% if name == "Gray" %}
    <p>Hello Kyler Gray</p>
    {% elif name == "Odek" %}
    {% else %}
    <p>Welcome guests</p>
    {% endif %}

    {% if hobbies|length > 3 %}
    <p>Wow you got alot of hobbies !</p>
    {% else %}
    {% endif %}
    <p>Who is the best {{ name|upper}}</p>
    {% comment "" %}That's it for today {% endcomment %}

   
   


</body>
</html>